In [1]:
import numpy as np
import pandas as pd

from data_validation_correction import CourseContentData, StudentProfileData

In [2]:
# courses_example = CourseContentData.example(size=30)
# courses_example.head()

,id,title,type,keyword,duration,creation_date
0,26543,񸑌1,exercise,data_science,97,2020-01-01 00:00:00.000060776
1,5009,𠅁􁼴ñÆwIÞ_󺱾,press_article,economics,118,2020-01-01 00:00:00.000062623
2,1001,򭬝򜫏񿤛ÿz󯸮,exam,sport,49,2020-01-01 00:00:00.000035434
3,19630,,exercise,sport,86,2020-01-01 00:00:00.000000140
4,7477,MLñ󾃯I󃪠,course,computer_science,32,2020-01-01 00:00:00.000000199

In [3]:
# courses_example.to_csv("courses_data.csv", index=False)

In [4]:
student_example = StudentProfileData.example(size=40)
student_example.head()

   student_id year_level  area_of_interest
0      411276         L1             sport
1      844877         L3  computer_science
2      815856         L1  computer_science
3      556513         L3      data_science
4      889698         L2      data_science

In [5]:
student_example.to_csv("student_data.csv", index=False)

In [12]:
courses_data = pd.read_csv("courses_data.csv")

In [13]:
courses_data.keyword.value_counts()

maths               4
sport               3
computer_science    3
data_science        2
economics           2
history             2
video_games         2
physics             2
arts                2
social_sciences     2
management          2
biology             2
Name: keyword, dtype: int64

In [14]:
student_example.area_of_interest.value_counts()

video_games         6
social_sciences     5
data_science        4
management          4
arts                4
sport               3
economics           3
history             3
biology             3
computer_science    2
maths               2
physics             1
Name: area_of_interest, dtype: int64